extends layout.jade

block content
  .grid
    each post in posts
      .block.post
        .image
          img(src!=post.image)
        .info
          .title!= post.title
          .user
            .name!= post.user.name