extends layout.jade

block content
  .grid
    each post in posts
      .block.post
        .image
          img(src!=post.image)
        .info
          .time
            .icon
                span.oi(data-glyph='clock')
            p!= post.time

          if post.nsfw
            .nsfw
              .icon
                span.oi(data-glyph='shield')
              p nsfw