@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

html, body {
	margin: 0;
	padding: 0;
}

.border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header {
	padding: 10px 120px;
	background: #7177FF;

	.border-box();

	h1 {
		margin: 0;
		font-family: 'Roboto', sans-serif;
		color: #fff;
	}
}

.content {
	padding: 0 100px;
}

.grid {
	padding: 20px 0 0 0;
}

.post {
	padding: 20px;
	width: 33.33%;

	.border-box();

	.image {
		img {
			width: 100%;
		}
	}
}